<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
  </head>
  <title>HealthTrack | Home</title>
  <body>
    <div class="container">
      <div class="title">
        <h1>Health Track</h1>
      </div>
      <div class="abouts">
        <h2>↓ Documents and Check Ups ↓</h2>
       </div>
      <div class="grid" id="song-list">
        <div class="grid-item">
            <img src="../static/medical/docs.png">
            <h1 class="grid-title"></h1>
            <a href="/list">Medical Documents</a>
        </div>
       <div class="grid-item">
            <img src="../static/medical/presc.png">
            <h1 class="grid-title"></h1>
            <a href="/prescription">Medicine Prescriptions</a>
      </div>
         <div class="grid-item">
            <img src="../static/medical/doct.png">
            <h1 class="grid-title"></h1>
            <a href="/track">Health Check Ups</a>
		  </div>
             <div class="grid-item">
            <img src="../static/medical/data.png">
            <h1 class="grid-title"></h1>
            <a href="#">Others & Extras</a>
          </div>
	</div>
  </body>
</html>
